<div id="mainContentWithHeader"> 
    <div id="pre-main-part">
      <h2 class="section-title">Mes documents</h2>
      
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nom fichier</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date ajout</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let documents of documents">
                <th scope="row">{{ documents.title }}</th>
                <td>{{ documents.contenu }}</td>
                <td>{{ documents.date_ajout }}</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="bi bi-eye-fill"></i></button>&nbsp;
                  <button type="button" class="btn btn-success"><i class="bi bi-pencil-square"></i></button>&nbsp;
                  <button type="button" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  


<style>
    
.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}



#mainContentWithHeader {
    padding: 20px;
}

.secondTitle {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

.img-fluid {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#dashboard-courses-above-recommended-courses {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

#courses-taken {
    text-align: center;
}

</style>