<div id="mainContentWithHeader">
  <div id="pre-main-part">
      <!-- Introduction au contenu de la formation -->
      <h2 class="section-title">Mes cours</h2>
      <p class="intro-text">
          Bienvenue dans votre espace de formation. Ici, vous pouvez vos cours disponibles et progresser à votre rythme.
      </p>
  </div>

  <div id="dashboard-courses-above-recommended-courses">
      <section id="courses-taken">
          
          <div class="course-card">
              <img src="../../dist/assets/img/spr.png" 
                   class="course-image" 
                   alt="Image utilisateur">
              
          </div>
      </section>
  </div>
</div>


<style>

#mainContentWithHeader {
    padding: 20px;
}

.secondTitle {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

.img-fluid {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#dashboard-courses-above-recommended-courses {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

#courses-taken {
    text-align: center;
}

</style>